<a href="https://colab.research.google.com/github/Kisna2512/DSBDA_Lab/blob/main/Practicle3A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
data=pd.read_csv("/toy_dataset.csv")
print(data.describe())

              Number            Age         Income
count  150000.000000  150000.000000  150000.000000
mean    75000.500000      44.950200   91252.798273
std     43301.414527      11.572486   24989.500948
min         1.000000      25.000000    -654.000000
25%     37500.750000      35.000000   80867.750000
50%     75000.500000      45.000000   93655.000000
75%    112500.250000      55.000000  104519.000000
max    150000.000000      65.000000  177157.000000

In [16]:
df = pd.DataFrame(data)
grouped=df.groupby("Age")

ans=grouped["Age"].describe()
print(ans)

      count  mean  std   min   25%   50%   75%   max
Age
25   1868.0  25.0  0.0  25.0  25.0  25.0  25.0  25.0
26   3918.0  26.0  0.0  26.0  26.0  26.0  26.0  26.0
27   3790.0  27.0  0.0  27.0  27.0  27.0  27.0  27.0
28   3798.0  28.0  0.0  28.0  28.0  28.0  28.0  28.0
29   3805.0  29.0  0.0  29.0  29.0  29.0  29.0  29.0
30   3731.0  30.0  0.0  30.0  30.0  30.0  30.0  30.0
31   3749.0  31.0  0.0  31.0  31.0  31.0  31.0  31.0
32   3759.0  32.0  0.0  32.0  32.0  32.0  32.0  32.0
33   3769.0  33.0  0.0  33.0  33.0  33.0  33.0  33.0
34   3710.0  34.0  0.0  34.0  34.0  34.0  34.0  34.0
35   3658.0  35.0  0.0  35.0  35.0  35.0  35.0  35.0
36   3780.0  36.0  0.0  36.0  36.0  36.0  36.0  36.0
37   3771.0  37.0  0.0  37.0  37.0  37.0  37.0  37.0
38   3734.0  38.0  0.0  38.0  38.0  38.0  38.0  38.0
39   3675.0  39.0  0.0  39.0  39.0  39.0  39.0  39.0
40   3740.0  40.0  0.0  40.0  40.0  40.0  40.0  40.0
41   3862.0  41.0  0.0  41.0  41.0  41.0  41.0  41.0
42   3760.0  42.0  0.0  42.0  42.0  42.0  42.0  42.0
43   3862.0  43.0  0.0  43.0  43.0  43.0  43.0  43.0
44   3782.0  44.0  0.0  44.0  44.0  44.0  44.0  44.0
45   3670.0  45.0  0.0  45.0  45.0  45.0  45.0  45.0
46   3707.0  46.0  0.0  46.0  46.0  46.0  46.0  46.0
47   3773.0  47.0  0.0  47.0  47.0  47.0  47.0  47.0
48   3743.0  48.0  0.0  48.0  48.0  48.0  48.0  48.0
49   3762.0  49.0  0.0  49.0  49.0  49.0  49.0  49.0
50   3692.0  50.0  0.0  50.0  50.0  50.0  50.0  50.0
51   3729.0  51.0  0.0  51.0  51.0  51.0  51.0  51.0
52   3753.0  52.0  0.0  52.0  52.0  52.0  52.0  52.0
53   3724.0  53.0  0.0  53.0  53.0  53.0  53.0  53.0
54   3838.0  54.0  0.0  54.0  54.0  54.0  54.0  54.0
55   3687.0  55.0  0.0  55.0  55.0  55.0  55.0  55.0
56   3602.0  56.0  0.0  56.0  56.0  56.0  56.0  56.0
57   3732.0  57.0  0.0  57.0  57.0  57.0  57.0  57.0
58   3762.0  58.0  0.0  58.0  58.0  58.0  58.0  58.0
59   3775.0  59.0  0.0  59.0  59.0  59.0  59.0  59.0
60   3582.0  60.0  0.0  60.0  60.0  60.0  60.0  60.0
61   3737.0  61.0  0.0  61.0  61.0  61.0  61.0  61.0
62   3684.0  62.0  0.0  62.0  62.0  62.0  62.0  62.0
63   3784.0  63.0  0.0  63.0  63.0  63.0  63.0  63.0
64   3879.0  64.0  0.0  64.0  64.0  64.0  64.0  64.0
65   1864.0  65.0  0.0  65.0  65.0  65.0  65.0  65.0

In [61]:
r1=[]
r2=[]
r3=[]

x=data.loc[:,"Age"]

for age in x:
  if(age > 24 and age < 31):
    r1.append(age)
  elif(age > 30 and age< 36):
    r2.append(age)
  else:
    r3.append(age) 

d1=pd.DataFrame(r1)
print("Statistics for age 25-30")
print(d1.describe())    
print()
d2=pd.DataFrame(r2)
print("Statistics for age 30-35")
print(d2.describe())
print()
print("Statistics for age 35 and above")
d3=pd.DataFrame(r3)
print(d3.describe())

Statistics for age 25-30
                  0
count  20910.000000
mean      27.714825
std        1.596641
min       25.000000
25%       26.000000
50%       28.000000
75%       29.000000
max       30.000000

Statistics for age 30-35
                  0
count  18645.000000
mean      32.987611
std        1.410532
min       31.000000
25%       32.000000
50%       33.000000
75%       34.000000
max       35.000000

Statistics for age 35 and above
                   0
count  110445.000000
mean       50.232776
std         8.530075
min        36.000000
25%        43.000000
50%        50.000000
75%        58.000000
max        65.000000